torch>=1.7.0
torchvision
cox
robustness
kornia
scikit-image
orjson
opencv-python
zmq
tensorboard
ipdb
flatten-dict
tqdm
pytest
pytest-xdist
flask
flask_cors
tensorboard
mathutils
typeguard
pyyaml
flask-compress
